<div class="container my-3">
  <h1>Mot de passe oublié ?</h1>
    <div class="form">
      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= f.error_notification %>

          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Réinitialiser mon mot de passe", class: "button2" %>
      <% end %>
    </div>
    <div class="my-3">
      <%= render "devise/shared/links" %>
   </div>
</div>
