<%= simple_form_for :reservation, url: "#", method: :get, html: { class: "my-form" } do |f| %>
  <% @subscriptions.each do |subscription| %>
    <% case subscription.price %>
    <% when 120 %>
      <div class="my-4 col-3 card-abo" data-action="click->select#selection" data-select-target="subscription" data-id="1">
        <h3>Abonnement <%= subscription.sub_type %> séances</h3>
        <h3><%= subscription.price %> €</h3>
        <%= f.hidden_field :selected_subscription_id, data: { target: "step-visibility.subscriptionId" } %>
      </div>
    <% when 240 %>
      <div class="my-4 col-3 card-abo"  data-action="click->select#selection" data-select-target="subscription"  data-id="2">
        <h3>Abonnement  <%= subscription.sub_type %> séances</h3>
        <h3><%= subscription.price %> €</h3>
        <%= f.hidden_field :selected_subscription_id, data: { target: "step-visibility.subscriptionId" } %>
      </div>
    <% when 0 %>
      <div class=" my-4 col-3 card-abo"  data-action="click->select#selection" data-select-target="subscription" data-id="3">
        <h3> Séance d'essai gratuite</h3>
        <h3><%= subscription.price %> €</h3>
        <%= f.hidden_field :selected_subscription_id, data: { target: "step-visibility.subscriptionId" } %>
      </div>
    <% else 15 %>
      <div class="my-4 col-3 card-abo" data-action="click->select#selection" data-select-target="subscription" data-id="4">
        <h3>Réserver <%=subscription.sub_type %> séance</h3>
        <h3><%= subscription.price %> €</h3>
        <%= f.hidden_field :selected_subscription_id, data: { target: "step-visibility.subscriptionId" } %>
      </div>
    <% end %>
  <% end %>
  <%= f.submit "Confirmer", class: "button2", data: { action: "click->step-visibility#showStep2" } %>
<% end %>
