<div class="row  my-3">
    <% @courses.sort_by(&:date).each do |course| %>
      <div class="card-course">
        <h3> <%= course.date.strftime("%A %d %B") %> à <%= course.date.time.strftime("%kh%M") %></h3>
          <p class="my-1"> <%= course.available_places%> places disponibles !</p>
          <div class="d-flex justify-content-center align-items-center">
          <p class="m-2" >Choisir :</p>

        </div>
      </div>
    <% end %>
    <div class="my-5 text-center">
      <%= link_to "Confirmer", "#", class: "button2" %>
    </div>
  </div>




<%# <div class="container"> %>
  <%# <%= simple_form_for [@subscription, @booking] do |f| %> %>
    <%# <%= f.input :date, %>
                <%# label: "Choose a period of time"

                %>
    <%# <%= f.submit 'Valider et payer', class: "text-warning text-decoration-none btn btn-light border border-warning rounded-pill" %>
  <%# <% end %>
<%# </div> %> %> %> %>
